---
layout: default
slug: home
---
{%- assign skins = site.data.skins | sort: "name" -%}
{%- for skin in skins -%}
	{%- capture skinImage %}{{ skin.hero }}_{{ skin.season }}_{{ skin.name }}{% endcapture -%}
	{%- assign skinImage = skinImage | replace: ":", "" | replace: ".", "" | replace: " ", "-" -%}
	{%- assign skinID = skinImage | replace: "_", "-" | prepend: "skin-" -%}
	{%- assign skinAvailabilities = skin.availabilities | reverse %}
				<article id="{{ skinID }}" class="skin" data-name="{{ skin.name }}" data-hero="{{ skin.hero }}" data-season="{{ skin.season }}" data-availability-start="{{ skinAvailabilities.first.period.start }}" data-availability-end="{{ skinAvailabilities.first.period.end }}" data-source="{{ skinAvailabilities.first.source }}" data-cost="{{ skinAvailabilities.first.cost }}" data-hidden hidden>
					<header>
						<h2>{{ skin.name }}</h2>
						<p>{{ skin.hero }} (<time>{{ skin.season }}</time>)</p>
					</header>
					<div class="wrapper">
						<main>
							<p><button type="button" data-action="skin.expand" data-target="#{{ skinID }}" aria-controls="{{ skinID }}" aria-expanded="false" aria-label="Show information"><img src="images/{{ skinImage }}.webp" alt="" width="600" height="600" loading="lazy"/></button></p>
							<section id="{{ skinID }}_info" class="skin-info" data-hidden hidden>
								<header>
									<h3>Information</h3>
									<p><button type="button" class="icon icon-close" data-action="skin.collapse" data-target="#{{ skinID }}" aria-controls="{{ skinID }}" aria-expanded="false" aria-label="Hide information"></button></p>
								</header>
								<div class="wrapper">
									<main>
										<h4>General</h4>
										<dl>
											<dt>Name</dt>
											<dd>{{ skin.name }}</dd>
											<dt>Hero</dt>
											<dd>{{ skin.hero }}</dd>
										</dl>
										<h4>Background</h4>
										<dl>
											<dt>Season</dt>
											<dd>{{ skin.season }}</dd>
											<dt>Event</dt>
											<dd>{{ skin.event }}</dd>
											<dt>Themes</dt>
											<dd>{{ skin.themes | join: ", " }}</dd>
										</dl>
	{%- if skin.article -%}
		{%- assign article = skin.article -%}
										<h4>Article</h4>
										<p><a href="{% if article.archiveURL %}{{ article.archiveURL }}{% else %}{{ article.url }}{% endif %}" target="_blank" rel="external noopener"{% if article.archiveURL %} class="archived" data-archived-url="{{ article.url}}"{% endif %}{% if article.title %} title="{{ article.title }}"{% endif %}>{% if article.title %}{{ article.title }}{% else %}{{ article.url }}{% endif %} [<time datetime="{% if article.datetime %}{{ article.datetime }}{% else %}{{ article.date }}{% endif %}"><span class="hyphen-nobreak">{{ article.date }}</span></time>]{% if article.archiveURL %}[Archived]{% endif %}</a></p>
	{%- endif -%}
										<h4>Availability</h4>
										<dl>
	{%- for availability in skinAvailabilities %}
											<dt class="double-row-header{% unless forloop.first %} historic{% endunless %}"><time class="start" datetime="{{ availability.period.start | default: "" }}"><span class="hyphen-nobreak{% if availability.period.startNote %} note" data-tooltip="{{ availability.period.startNote}}" tabindex="0"{% endif %}">{{ availability.period.start | default: "unknown" }}</span></time> – <time class="end" datetime="{{ availability.period.end | default: "" }}"><span class="hyphen-nobreak{% if availability.period.endNote %} note" data-tooltip="{{ availability.period.endNote}}" tabindex="0"{% endif %}">{{ availability.period.end | default: "unknown" }}</span></time></dt>
											<dd{% unless forloop.first %} class="historic"{% endunless %}>{{ availability.source }}, {{ availability.cost }} <img class="owl-token" title="OWL Token" src="images/owl-token.svg" alt="OWL Tokens" width="220" height="220" loading="lazy"/><br/><small class="references">References: {% for reference in availability.references %}<a href="{% if reference.archiveURL %}{{ reference.archiveURL }}{% else %}{{ reference.url }}{% endif %}" target="_blank" rel="external noopener" class="reference{% if reference.archiveURL %} archived" data-archived-url="{{ reference.url }}{% endif %}"{% if reference.title %} title="{{ reference.title }} [{{ reference.date }}]{% if reference.archiveURL %}[Archived]{% endif %}"{% endif %} data-datetime="{% if reference.datetime %}{{ reference.datetime }}{% else %}{{ reference.date }}{% endif %}"><sup>{{ forloop.index }}</sup></a>{% unless forloop.last %}, {% endunless %}{% endfor %}</small></dd>
	{%- endfor %}
										</dl>
									</main>
									<footer></footer>
								</div>
							</section>
						</main>
						<footer>
							<p><span>{{ skinAvailabilities.first.cost }}</span> <img class="owl-token" title="OWL Token" src="images/owl-token.svg" alt="OWL Tokens" width="220" height="220" loading="lazy"/></p>
						</footer>
					</div>
				</article>
{%- endfor %}