---
layout: default
slug: home
---
{%- assign skins = site.data.skins | sort: "name" -%}
{%- for skin in skins -%}
	{%- capture skinImage %}{{ skin.hero }}_{{ skin.season }}_{{ skin.name }}{% endcapture -%}
	{%- assign skinImage = skinImage | replace: ":", "" -%}
	{%- assign skinImage = skinImage | replace: ".", "" -%}
	{%- assign skinImage = skinImage | replace: " ", "-" -%}
	{%- assign skinID = skinImage | replace: "_", "-" | prepend: "skin-" -%}
	{%- assign skinAvailabilities = skin.availabilities | reverse %}
				<article id="{{ skinID }}" class="skin" data-name="{{ skin.name }}" data-hero="{{ skin.hero }}" data-season="{{ skin.season }}" data-availability-start="{{ skinAvailabilities.first.period.start }}" data-availability-end="{{ skinAvailabilities.first.period.end }}" data-source="{{ skinAvailabilities.first.source }}" data-cost="{{ skinAvailabilities.first.cost }}" data-state="inert" hidden>
					<header>
						<h2>{{ skin.name }}</h2>
						<p>{{ skin.hero }} (<time>{{ skin.season }}</time>)</p>
					</header>
					<div class="wrapper">
						<main>
							<p data-action="expandable.expand;scrollTo.start;state.active" data-target="#{{ skinID }};#{{ skinID }}_info;#{{ skinID }}_info"><img src="images/{{ skinImage }}.png" alt="" width="600" height="600" loading="lazy"/></p>
							<section id="{{ skinID }}_info" class="skin-info" data-state="inert">
								<header>
									<h3>Information</h3>
									<p><button type="button" class="icon icon-close" data-action="tooltip.hide;state.inert;expandable.collapse" data-target=";#{{ skinID }}_info;#{{ skinID }}"><span class="label hide-label">Close</span></button></p>
								</header>
								<div class="wrapper">
									<main>
										<div class="group">
											<p class="dl-title">General</p>
											<dl>
												<dt>Name</dt>
												<dd>{{ skin.name }}</dd>
												<dt>Hero</dt>
												<dd>{{ skin.hero }}</dd>
											</dl>
										</div>
										<div class="group">
											<p class="dl-title">Background</p>
											<dl>
												<dt>Season</dt>
												<dd>{{ skin.season }}</dd>
												<dt>Event</dt>
												<dd>{{ skin.event }}</dd>
												<dt>Themes</dt>
												<dd>{{ skin.themes | join: ", " }}</dd>
											</dl>
										</div>
										<div class="group">
											<p class="dl-title">Availability</p>
											<dl>
	{%- for availability in skinAvailabilities %}
												<dt class="double-row-header{% unless forloop.first %} historic{% endunless %}"><time class="start" datetime="{{ availability.period.start | default: "" }}"><span class="hyphen-nobreak{% if availability.period.startNote %} note" title="{{ availability.period.startNote}}" data-action="tooltip.toggle"{% endif %}">{{ availability.period.start | default: "unknown" }}</span></time> – <time class="end" datetime="{{ availability.period.end | default: "" }}"><span class="hyphen-nobreak{% if availability.period.endNote %} note" title="{{ availability.period.endNote}}" data-action="tooltip.toggle"{% endif %}">{{ availability.period.end | default: "unknown" }}</span></time></dt>
												<dd{% unless forloop.first %} class="historic"{% endunless %}>{{ availability.source }}</dd>
												<dd{% unless forloop.first %} class="historic"{% endunless %}>{{ availability.cost }} <img class="owl-token" title="OWL Token" src="images/owl-token.svg" alt="OWL Tokens" width="220" height="220" loading="lazy"/></dd>
	{%- endfor %}
											</dl>
										</div>
									</main>
									<footer></footer>
								</div>
							</section>
						</main>
						<footer>
							<p><span>{{ skinAvailabilities.first.cost }}</span> <img class="owl-token" title="OWL Token" src="images/owl-token.svg" alt="OWL Tokens" width="220" height="220" loading="lazy"/></p>
						</footer>
					</div>
				</article>
{%- endfor %}